<div>
    <div>
        <div class="titulo">
            <h1> Añadir Banda </h1>
        </div>

        <form #bandaForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="formulario">
                <label for="title"> Titulo </label>
                <input type="text" name="title" class="input" #nombre="ngModel" [(ngModel)]="banda.title"/>

                <label for="description"> Descripción </label>
                <textarea name="año" class="input" #description="ngModel" [(ngModel)]="banda.description"></textarea>

                <label for="year"> Año </label>
                <input type="number" name="year" class="input" #year="ngModel" [(ngModel)]="banda.year"/>

                <!-- <angular-file-uploader
                    [config]="afuConfig"  
                >
                </angular-file-uploader> -->

                <input type="submit" value="Guardar"/>
            </div>
        </form>
    </div>
</div>
